*,
*::before,
*::after {
  box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul {
    padding: 10px;
    margin-left: 40px;
    font-size: 30px;
}

ul li {
    padding: 20px;
    list-style-type: none;
}

.self {
    width: 200px;
    margin-left: 40%;
}

.container1,
.container2, 
.container3,
.container4 {
    margin-left: 35%;
}

.container3 img {
    width: 125px;
    height: 125px;
    margin: 10px;
}

div {
    display: flex;
}



#top {
    position: fixed;
    flex-wrap: wrap;
    margin-right: 70%;
}